h1 {
    text-align: center;
}

.grid-chat {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: minmax(1fr,0); 
    gap: 0px 0px; 
    grid-template-areas: 
    "first-column second-column"
    "first-column third-column";
}

.first-column {
    max-height: 100%;
    grid-area: first-column;
    background-color: blue;
}

.second-column {
    padding-top: 2.5em;
    height: 800px;
    overflow-y: scroll;
    grid-area: second-column;
    background-color: red;
}

.third-column {
    grid-area: third-column;
    max-height: 100%;
    background-color: greenyellow; 
}

.bubble-chat {
    width: 500px;
    word-wrap: break-word;
    height: fit-content;
}